.grid-container{
    display: grid;
    background-color: grey;
    grid-template-columns: auto auto auto auto;
    grid-gap: 5px;
    width: 500px;
    height: 300px;
    border-radius: 10px;
    padding: 10px;
}

grid-item {
}

#grid-one{
    background-color: red;
    color: red;
    grid-row: 1;
    grid-column: 1 / span 2;
}

#grid-two{
    background-color: blue;
    color: blue;
    grid-row: 1;
    grid-column: 3 / span 2;
}

#grid-three{
    background-color: green;
    color: green;
    grid-row: 2;
    grid-column: 1;
}

#grid-four{
    background-color: purple;
    color: purple;
    grid-row: 2;
    grid-column: 2 / span 3;
}

#grid-five{
    background-color:yellow;
    color: yellow;
    grid-row: 3;
    grid-column: 1 / span 4;
}